
/* UNIVERSAL STYLES: */
html {
  box-sizing: border-box;
  /* color: #3A3B4A; */
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  /* background: rgba(0,0,0,0.1);/*wireframe*/
  /* border: 1px solid red; */
}

body {
  font-family: "Sunflower", sans-serif;
  /* color: #3A3B4A; */
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

h1, h2, h3 {
  font-family: "Oxygen";
}

p {
  font-weight: 300;
  color: #595959;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  /* color: #3A3B4A; */
}

/* Palette UID: 13O0u0kllll2XhDc9jvuxnbSap2 */
/* PALLET:
#042587
#132E7D
#2F4073
#464E69
#57595F
*/

/* HEADER: */
header {
  height: 5rem;
  display: flex;
  align-items: center;
  font-family: "Oxygen", sans-serif;
  border-bottom: 1px solid #b3b3b3;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: White;
}

header .logo {
  display: flex;
  margin-left: 1rem;
  height: 3.25rem;
  width: 3rem;
}

header .logo img {
  height: 2.8rem;
  width: 2.8rem;
  margin-top: auto;
  /* fill: #042587; */
}

header h2 {
  font-weight: 300;
  color: #c1c1d7;
  margin: 0;
}

header h2 span {
  font-weight: 400;
  color: #042587;
  margin: 0;
}

/* DROPDOWN MENU: */
.dropdown_menu {
  /* this is the container for the hamburger icon initially: */
    margin-left: auto;
    margin-right: 1rem;
    height: 3rem;
    width: 3rem;
}

@media screen and (min-width:736px) {
  /* then it changes into a long regular container for larger screens: */
  .dropdown_menu {
      display: flex;
      align-items: center;
      width: 30rem;
      margin-right: 1rem;
  }
}

/* hamburger icon for small screens:*/
.dropbtn {
    margin-top: 0.75rem;
    height: 1.5rem;
    width: 1.5rem;
    filter: drop-shadow(1px 2px 0px #999999);
  }

@media screen and (min-width:736px) {
/* hamburger icon disappears for larger screens:*/
.dropbtn {
    display: none;
  }
}

/* dropdown navbar container (hidden by default) AND this is how it looks when it is :hover activated*/
.nav_buttons {
    display: none;
    position: absolute;
    top: 3.5rem;
    right: 1rem;
    min-width: 10rem;
    box-shadow: 4px 8px 16px 0px rgba(0,0,0,0.5);
    z-index: 1;
}

/* this is the mod to make it a non-dropdown navbar for larger screens:*/
@media screen and (min-width:736px) {
  .nav_buttons {
      display: flex;
      justify-content: space-between;
      position: inherit;
      box-shadow: none;
      width: 30rem;
  }
}

/* buttons for the dropdown menu*/
.nav_buttons a {
    color: #595959;
    font-weight: bold;
    text-shadow: 1px 1px 0px White;
    padding: 7px 16px;
    background-color: #f2f2f2;
    display: block;
    border-bottom: 2px solid #595959;
    border-top: 2px solid White;
    margin-top: 2px;
}

/* buttons for the regular non-dropdown menu for larger screens:*/
@media screen and (min-width:736px) {
  .nav_buttons a {
      text-shadow: 1px 1px 0px Black;
      background-color: inherit;
      border: none;
      color: #b3b3b3;
      min-width: 6rem;
      /* text-align: center; */
  }
}

/* Change color of nav buttons on hover: */
.nav_buttons a:hover {
  background-color: #2F4073;
  color: #f2f2f2;
  text-shadow: 1px 1px 0px Black;
 }
/*but not for the regular non-dropdown menu:*/
@media screen and (min-width:736px) {
.nav_buttons:hover a:hover {
  background-color: inherit;
  }
}

.nav_buttons a:active {
  /*this doesn't effect large screen version, not sure why: */
  background-color: Blue;
  }

/* Show the dropdown menu on hover */
.dropdown_menu:hover .nav_buttons {display: block;}

/* And finally this prevents the menu from turning back into dropdown mode at large screen size:*/
@media screen and (min-width:736px) {
  .dropdown_menu:hover .nav_buttons {
    display: inherit;
  }
}
/*END OF DROPDOWN MENU SECTION*/

main {
  position: relative;
  top: 4.5rem;
}

/* LANDING SECTION: */
.landing_section {
  background: linear-gradient(to bottom right, #cccccc, #f2f2f2);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #b3b3b3;
}

@media screen and (max-width:736px) {
  .landing_section {
    flex-wrap: wrap;
  }
}

.landing_image_box {
  width: 58%;
  min-width: 22rem;
  height: auto;
  margin: 1rem;
}

.landing_image_box img {
  width: 100%;
  height: auto;
  border: 1px solid #f2f2f2;
}

.title_box {
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  margin: 0 0.5rem;
  justify-content: center;
  padding: 1.5rem;
}

.title_box > * {
  min-width: 15rem;
  display: flex;
  margin: 0.5rem 0;
}

.title_box .button {
  padding: 1rem;
  text-align: center;
  justify-content: center;
  background-color: #2F4073;
  border: 1px solid #f2f2f2;
  transition: all 0.2s ease-out 0s;
}

.title_box .button a {
  color: #efeff5;
}

.title_box .button:hover {
  background-color: #042587;
}

.title_box .button:active {
  background-color: Blue;
}

.title_box h1 {
  text-shadow: 1px 1px 0px #ffffff;
}


/* NEWS SECTION: */
.news_section {
  width: 100%;
  display: flex;
  justify-content: center;
    /* border: 1px solid green; */
}

@media screen and (max-width:736px) {
  .news_section {
    flex-wrap: wrap;
  }
}

.main_article_box {
  width: 58%;
  min-width: 22rem;
  height: auto;
  margin: 1rem;
  padding-bottom: 2rem;
    /* border: 1px solid purple; */
}

.main_article_box .image_box img {
  width: 100%;
  height: auto;
  border: 1px solid #b3b3b3;
}

.side_articles_box {
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  margin: 1rem 0.5rem;
  justify-content: space-between;
    /* border: 1px solid red; */
}

.side_article {
  min-width: 15rem;
  height: auto;
  display: flex;
  align-items: flex-start;
    /* border: 1px solid blue; */
}

@media screen and (max-width:736px) {
  .side_article {
    flex-wrap: wrap;
    height: auto;
  }
}

.side_article .image_box {
  height: 100%;
  width: 60%;
    /* border: 1px solid blue; */
}

@media screen and (max-width:736px) {
  .side_article .image_box {
    width: 90%;
    height: 10rem;
    margin-left: 1rem;
  }
}

.side_article .image_box img {
  width: 100%;
  height: auto;
  border: 1px solid #b3b3b3;
}

.side_article .image_box source {
  width: 100%;
  height: auto;
}

.content_box {
  display: flex;
  flex-direction: column;
  margin: 1rem 0 1.5rem 1rem;
  width: 65%;
    /* border: 1px solid green; */
}

@media screen and (max-width:736px) {
  .content_box {
    width: 90%;
  }
}

.content_box > * {
  margin: 0.3rem;
}

.side_article .content_box a {
  color: #80aaff;
  font-weight: 300;
}

.side_article .content_box a:hover {
  font-weight: 400;
}

.side_article .content_box a:active {
  color: Blue;
  font-weight: 400;
}

.guest_lecture {
  background-color: #efeff5;
  border: 1px solid #b3b3b3;
}

.guest_lecture .image_box {
  margin: 3% 3px;
}

@media screen and (max-width: 736px) {
.guest_lecture .image_box {
  margin-left: 1.2rem;
  }
}



/* COURSES SECTION: */
.courses_section {
  border-top: 1px solid #b3b3b3;
  border-bottom: 1px solid #b3b3b3;
  display: block;
  text-align: center;
  width: 100%;
  background: linear-gradient(to bottom right, #cccccc, #f2f2f2);
  padding: 1rem 0;
    /* border: 1px solid red; */
}

/* this became redundant:
.all_courses_box {
*/

.courses_section h1 {
  text-shadow: 1px 1px 0px #ffffff;

}

.course_row {
  margin: 1rem auto;
  display: flex;
  justify-content: space-around;
  width: 85%;
  /* border: 1px solid green; */
}

@media screen and (max-width:736px) {
  .course_row {
    flex-wrap: wrap;
    max-width: 30rem;
  }
}

.course {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 30%;
  background-color: White;
  min-width: 13rem;
  margin: 0.5rem;
  border: 1px solid #b3b3b3;
}

.course a {
  color: #000000;
  transition: all 0.4s ease-out 0;
}

.course a:hover {
  font-weight: 700;
  color: #80aaff;
}

.course a:active {
  color: Blue;
}

.course h4, .course p {
  color: #595959;
}

.course p {
  /* border: 1px solid blue; */
  height: 5.5rem;
  margin-bottom: 1rem;
  padding: 0 0.5rem;
}

@media screen and (max-width:736px) {
  .course h4, .course p {
    display: none;
  }
}

@media screen and (max-width:736px) {
  .course {
    width: 85%;
    height: 100%;
  }
}

.course .image_box {
  height: 40%;
  width: 100%;
  padding: 0.25rem;
}

.course .image_box img {
  width: 100%;
  height: auto%;
  border: 1px solid #b3b3b3;
}

.course h3 {
  padding-top: 0.5rem;
}

/* EXHIBITS SECTION: */
.exhibits_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exhibits_section .all_exhibits_wrapper {
  display: flex;
  justify-content: center;
}

@media screen and (max-width:1000px) {
  .exhibits_section .all_exhibits_wrapper {
    flex-wrap: wrap;
  }
}

  .exhibits_section .main_exhibit_box {
    width: 60%;
    padding: 0 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
      /* border: 1px solid Red; */
  }

  @media screen and (max-width:1000px) {
    .exhibits_section .main_exhibit_box {
      width: 100%;
    }
  }

    .exhibits_section .video_box {
      width: 100%;
    }

      .exhibits_section .video_box video {
        width: 100%;
        height: auto;
        border: 1px solid #b3b3b3;
      }

  .exhibits_section .side_exhibits_wrapper{
    display: flex;
    width: 40%;
  }

  @media screen and (max-width:1000px) {
    .exhibits_section .side_exhibits_wrapper {
      display: flex;
      width: 100%;
      justify-content: space-around;
    }
  }

    .exhibits_section .side_exhibit_box {
      width: 50%;
      padding: 1rem;
      border: 1px solid #b3b3b3;
      margin: 0 2px;
      /* border: 1px solid Green; */
    }

    @media screen and (max-width:1000px) {
      .exhibits_section .side_exhibits_box {
        width: 100%;
      }
    }

    .exhibits_section .fisma {
      background: linear-gradient(to bottom right, #cccccc, #f2f2f2);
    }

      .exhibits_section .side_exhibit_box .image_box {
        width: 100%;
      }

        .exhibits_section .side_exhibit_box .image_box img {
          width: 100%;
          height: auto;
          border: 1px solid #f2f2f2;
        }

      .exhibits_section .side_exhibit_box .content_box h2 {
        color: Black;
        text-shadow: 2px 1px 0px #f2f2f2;
      }

      .exhibits_section .side_exhibit_box .content_box a {
        color: Black;
      }

      .exhibits_section .side_exhibit_box .content_box a:hover {
        color: #80aaff;
      }

      .exhibits_section .side_exhibit_box .content_box a:active {
        color: Blue;
      }

/* FOOTER */
footer {
  display: flex;
  align-items: center;
  background: linear-gradient(to bottom right, #cccccc, #f2f2f2);
  width: 100%;
  height: 6rem;
  padding: 1rem;
  border-top: 1px solid #b3b3b3;
  margin-top: 3px;
}

footer ul {
  display: flex;
  width: 8rem;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 2rem;
  padding: 0;
    /* border: 1px solid green; */
}

footer ul a {
  color: Black;
  margin: 0;
  color: #8c8c8c;
  text-shadow: 1px 1px 0px #ffffff;
    /* border: 1px solid blue; */
}

footer ul a:hover {
  color: #80aaff;
}

footer ul a:active {
  color: Blue;
}

footer small {
  color: #8c8c8c;
  text-shadow: 1px 1px 0px #ffffff;
}
