
/* UNIVERSAL STYLES: */
html {
  box-sizing: border-box;
  /* color: #3A3B4A; */
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  /* background: rgba(0,0,0,0.1);/*wireframe*/
  /* border: 1px solid red; */
}

body {
  font-family: "Sunflower", sans-serif;
  /* color: #3A3B4A; */
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

p {
  font-weight: 300;
  color: #595959;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  /* color: #3A3B4A; */
}

/* Palette UID: 13O0u0kllll2XhDc9jvuxnbSap2 */
/* PALLET:
#042587
#132E7D
#2F4073
#464E69
#57595F
*/

/* HEADER: */
header {
  display: flex;
  align-items: center;
  font-family: "Oxygen", sans-serif;
  border-bottom: 1px "Silver";
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: White;
  /* filter: brightness(250%); */
}

header .logo {
  display: flex;
  margin-left: 1rem;
  height: 3.25rem;
  width: 3rem;
}

header .logo img {
  height: 2.8rem;
  width: 2.8rem;
  margin-top: auto;
  fill: #042587;
}

header h2 {
  font-weight: 300;
  color: #c1c1d7;
}

header h2 span {
  font-weight: 400;
  color: #042587;
}

/* nav bar: */
header nav {
  margin-left: auto;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  flex-basis: 32rem;
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  flex: 1;
  height: 2.5rem;
    /* border: 1px solid blue; */
}

header li {
  display: flex;
  justify-content: center;
  min-width: 7rem;
  text-align: center;
    /* border: 1px solid green; */
}

#hamburger_icon {
  display: none;
}

#for_companies {
  width: 6.25rem;
}

header a {
  width: 5rem;
  transition: all 0.2s ease-out 0s;
  color: #464E69;
}

header a:hover {
  font-size: 1.1rem;
  font-weight: 700;
  color: #57595F;
  opacity: 0.9;
}

/*
does not work, no idea why:
.nav_buttons a:active {
  color: Blue;
}
*/

main {
  position: relative;
  top: 4.5rem;
}


/* LANDING SECTION: */
.landing_section {
  background: linear-gradient(to bottom right, #cccccc, #f2f2f2);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

@media screen and (max-width:736px) {
  .landing_section {
    flex-wrap: wrap;
  }
}

.landing_image_box {
  width: 58%;
  min-width: 22rem;
  height: auto;
  margin: 1rem;
}

.landing_image_box img {
  width: 100%;
  height: auto;
}

.title_box {
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  margin: 0 0.5rem;
  justify-content: center;
  padding: 1.5rem;
}

.title_box > * {
  min-width: 15rem;
  display: flex;
  margin: 0.5rem 0;
}

.title_box .button {
  padding: 1rem;
  text-align: center;
  justify-content: center;
  background-color: #2F4073;
  transition: all 0.2s ease-out 0s;
}

.title_box .button a {
  color: #efeff5;
}

.title_box .button:hover {
  background-color: #042587;
}

.title_box .button:active {
  background-color: Blue;
}


/* NEWS SECTION: */
.news_section {
  width: 100%;
  display: flex;
  justify-content: center;
    /* border: 1px solid green; */
}

@media screen and (max-width:736px) {
  .news_section {
    flex-wrap: wrap;
  }
}

.main_article_box {
  width: 58%;
  min-width: 22rem;
  height: auto;
  margin: 1rem;
  padding-bottom: 2rem;
    /* border: 1px solid purple; */
}

.main_article_box .image_box img {
  width: 100%;
  height: auto;
}

.side_articles_box {
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  margin: 1rem 0.5rem;
  justify-content: space-between;
    /* border: 1px solid red; */
}

.side_article {
  min-width: 15rem;
  height: 30%;
  display: flex;
  align-items: flex-start;
    /* border: 1px solid blue; */
}

@media screen and (max-width:736px) {
  .side_article {
    flex-wrap: wrap;
    height: auto;
  }
}

.side_article .image_box {
  height: 100%;
  width: 40%;
    /* border: 1px solid blue; */
}

@media screen and (max-width:736px) {
  .side_article .image_box {
    width: 90%;
    height: 10rem;
    margin-left: 1rem;
  }
}

.side_article .image_box img {
  width: 100%;
  height: auto;
}

.side_article .image_box source {
  width: 100%;
  height: auto;
}

.content_box {
  display: flex;
  flex-direction: column;
  margin: 1rem 0 1.5rem 1rem;
  width: 65%;
    /* border: 1px solid green; */
}

/* I made all the <p> elements grey up in the Universal Styles section
.content_box p {
  color: #404040;
 }
*/

@media screen and (max-width:736px) {
  .content_box {
    width: 90%;
  }
}

.content_box > * {
  margin: 0.3rem;
}

.side_article .content_box a {
  color: #80aaff;
  font-weight: 300;
}

.side_article .content_box a:hover {
  font-weight: 400;
}

.side_article .content_box a:active {
  color: Blue;
  font-weight: 400;
}

/* does not work, even after deleting all cache, history, and cookies: */
/*.side_article .content_box a:visited {
  color: #bfbfbf;
  font-weight: 300;
}*/

/*.side_article .content_box a:link {
  color: #80aaff;
  font-weight: 300;
}*/

.guest_lecture {
  background-color: #efeff5;
}


/* COURSES SECTION: */
.courses_section {
  border-top: 1px solid "Silver";
  display: block;
  text-align: center;
  width: 100%;
  background: linear-gradient(to bottom right, #cccccc, #f2f2f2);
  padding: 1rem 0;
    /* border: 1px solid red; */
}

/* this became redundant:
.all_courses_box {
*/

.course_row {
  margin: 1rem auto;
  display: flex;
  justify-content: space-around;
  width: 85%;
  /* background-color: #efeff5; */
  /* border: 1px solid green; */
}

@media screen and (max-width:736px) {
  .course_row {
    flex-wrap: wrap;
    max-width: 30rem;
  }
}

.course {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 30%;
  background-color: White;
  min-width: 13rem;
  margin: 0.5rem;
}

.course a {
  color: #000000;
  transition: all 0.4s ease-out 0;
}

.course a:hover {
  font-weight: 700;
  color: #80aaff;
}

.course a:active {
  color: Blue;
}

.course h4, .course p {
  color: #595959;
}

.course p {
  /* border: 1px solid blue; */
  height: 5.5rem;
  margin-bottom: 1rem;
  padding: 0 0.5rem;
}

@media screen and (max-width:736px) {
  .course h4, .course p {
    display: none;
  }
}

@media screen and (max-width:736px) {
  .course {
    width: 85%;
    height: 100%;
  }
}

.course .image_box {
  height: 40%;
  width: 100%;
  padding: 0.25rem;
}

.course .image_box img {
  width: 100%;
  height: auto%;
}

.course h3 {
  padding-top: 0.5rem;
}

/* EXHIBITS SECTION: */
.exhibits_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exhibits_section .all_exhibits_wrapper {
  display: flex;
  justify-content: center;
}

@media screen and (max-width:1000px) {
  .exhibits_section .all_exhibits_wrapper {
    flex-wrap: wrap;
  }
}

  .exhibits_section .main_exhibit_box {
    width: 60%;
    padding: 0 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
      border: 1px solid Red;
  }

  @media screen and (max-width:1000px) {
    .exhibits_section .main_exhibit_box {
      width: 100%;
    }
  }

    .exhibits_section .video_box {
      width: 100%;
    }

      .exhibits_section .video_box video {
        width: 100%;
        height: auto;
      }

  .exhibits_section .side_exhibits_wrapper{
    display: flex;
    width: 40%;
  }

  @media screen and (max-width:1000px) {
    .exhibits_section .side_exhibits_wrapper {
      display: flex;
      width: 100%;
      justify-content: space-around;
    }
  }

    .exhibits_section .side_exhibit_box {
      width: 50%;
      padding: 1rem;
      border: 1px solid Green;
    }

    @media screen and (max-width:1000px) {
      .exhibits_section .side_exhibits_box {
        width: 100%;
      }
    }

    .exhibits_section .fisma {
      background: linear-gradient(to bottom right, #cccccc, #f2f2f2);
    }

      .exhibits_section .side_exhibit_box .image_box {
        width: 100%;
      }

        .exhibits_section .side_exhibit_box .image_box img {
          width: 100%;
          height: auto;
        }

      .exhibits_section .side_exhibit_box .content_box h2 {
        color: Black;
      }

      .exhibits_section .side_exhibit_box .content_box a {
        color: Black;
      }

      .exhibits_section .side_exhibit_box .content_box a:hover {
        color: #80aaff;
      }

      .exhibits_section .side_exhibit_box .content_box a:active {
        color: Blue;
      }





/* FOOTER */
